.contactImg {
  border-radius: 2%;
  width: 50%;
  display: inline-block;
}

.form {
  width: 45%;
  margin-left: 4%;
  display: inline-block;
}

.socials {
  h4 {
    width: 20%;
    display: inline-block;
  }

  ul {
    display: inline-block;
    width: 70%;
  }

  li {
    display: inline-block;
    width: 20%;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: #56565682;
  }

  a:hover {
    color: #004031;
    text-decoration: overline;
  }
}
