.categories {
  ul {
    list-style: none;
    margin: 0 auto;
    text-align: center;

    li {
      display: inline-block;
      vertical-align: top;
      margin: 1rem;
      padding: 1rem;
      border-radius: 1px;
      background-color: #c9c9c9;

      a {
        text-decoration: none;
        color: white;
      }


      &:hover {
        box-shadow: 2px 2px #707070;
      }
    }
  }
}
