.tags-page {
  ul {
    list-style: none;
    margin: 0 auto;

    li {
      display: inline-block;
      vertical-align: top;
      margin: 1rem;
      padding: 1rem;
      margin: 1rem;
      padding: 1rem;
      border-radius: 1px;
      background-color: #c9c9c9;

      a {
        text-decoration: none;
        color: #707070;
      }

      &:hover {
        box-shadow: 2px 2px #707070;
        cursor: pointer;
      }
    }
  }


  .categories {
    ul {
      text-align: center;

    }
  }
}
