.site-footer {
  background-color: #80808012;
  border-top: 1px solid #00000021;
  margin-top: 3%;
  text-align: center;
  width: 100%;

  a {
    text-decoration: none;
    color: gray;
  }

  a:hover {
    color: black;
  }

  p {
    margin: 0;
    font-size: .75rem;
  }
}
